:host {
  display: block;
}
::ng-deep .fc {
  font-size: 0.85rem;
}

/* Header */
::ng-deep .fc-toolbar {
  gap: 0.5rem;
  flex-wrap: wrap;
}

::ng-deep .fc-toolbar-title {
  font-size: 1rem !important;
  font-weight: 600;
}

/* Buttons */
::ng-deep .fc-button {
  padding: 0.35rem 0.6rem !important;
  font-size: 0.75rem !important;
  border-radius: 10px !important;
}

/* Calendar cells */
::ng-deep .fc-daygrid-day-frame {
  min-height: 60px !important;
}

::ng-deep .fc-daygrid-day-number {
  font-size: 0.75rem;
}

/* Event */
::ng-deep .fc-event {
  border-radius: 6px;
  padding: 1px 4px;
  font-size: 0.7rem;
}
